<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Title: {{ title }} </title>
	</head>
	<body>
		<h1> {{ user.nickname }} ! </h1>
		<p>
		<form role="form" class="my_form">
			Start: 
			<input id="date_timepicker_start" name="datetime_start" type="text" value="2016-04-18 16:42:53">
			End:
			<input id="date_timepicker_end" name="datetime_end" type="text" value="2016-04-18 16:54:02">
			<button type="button" id="press_go">GO</button>
			<p>
			機器ID:
			<button type="button" class="select_all_button" onclick="select(true)">全選</button>
			<button type="button" class="diselect_all_button" onclick="select(false)">全不選</button>
			<p>
			{% for row_id in range(0, 5) -%}
				{% for col_id in range(0, 5) -%}
					{{ zfill(row_id * 5 +  col_id + 1, 2) }}<input type="checkbox" id="check_machine_{{ row_id * 5 + col_id + 1 }}" checked=true>
				{% endfor %}
				<p>
			{% endfor %}
		</form>

		</p>
		<div id="algorithmChart" style="height: 400px;"></div>
		<div id="result"></div>
	</body>
		<script src="static/jquery.js"></script>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script> 
		<script src="static/jquery.datetimepicker.full.min.js"></script>
		<script src="static/eldarion-ajax.min.js"></script>
		<script src="static/gogo.js"></script>
		<link rel="stylesheet" href="static/jquery.datetimepicker.css">
	<script>
            var chartData = [];
			{% for element in output -%}
                var item = {
                    "datetime" : "{{ element[2] }}", 
					"M{{ element[0] }}": {{ element[1] }}
                }
                chartData.push(item);
			{% endfor %}
            $("#algorithmChart").empty();
			machines = []
			labels = []
			for (i = 1; i <= 25; ++i) {
				machines.push("M"+i)
				labels.push("Machine"+i)
			}

            var morrisChart = Morris.Line({
                element: 'algorithmChart',
                data: chartData,
                xkey: 'datetime',
				dateFormat: function(x) {
					var d = new Date(x); 
					console.log(d);
					return d;
				},
                parseTime: true,
                ykeys: machines,
                labels: labels,
				lineWidth: 1,
				smooth: true,
				hoverCallback: function(index, options, content) {
					for (key in options.data[index]) {
						if (key != "datatime") {
							var key_name = key;
							var value = options.data[index][key_name]
						}
					}
					$("#result").html('<div>'+ key_name + ' : ' + value.toFixed(2) + 'A</div>');
				},
				goals: [120],
				goalStrokeWidth: 5
            });

	</script>
</html>
